@tailwind base;
@tailwind components;
@tailwind utilities;

/* transitions */
.slide-enter-active,
.slide-leave-active {
    transition: all 0.4s ease;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateY(100%);
}